/* ======== responsive css ======== */
/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
    /* === navbar === */
    .brand_logo {
        width: 50px;
        height: 40px;
    }
    .nav-link{
        margin: 5px 0;
    }
    .nav_btn{
        margin: 15px 0;
        padding: 10px 40px;
    }
    /* === navbar === */
    /* === banner === */
    #banner{
        height: unset;
    }
    .banner_notice_text {
        font-size: 16px;
        padding: 5px;
    }
    .banner_arrows {
        left: 10px;
        font-size: 25px;
    }
    .banner_next_arrow {
        left: unset;
        right: 10px;
        top: 50%;
    }
    .banner_content_wrapper {
        padding-top: 40px;
    }
    .banner_heading_text{
        font-size: 22px;
        padding-bottom: 30px;
    }
    .banner_btn_wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .banner_btn_wrapper a {
        font-size: 14px;
        padding: 8px 20px;
        }
    /* === banner === */
	
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
	/* === navbar === */
    .brand_logo {
        width: 60px;
        height: 50px;
    }
    .nav-link{
        margin: 5px 0;
    }
    .nav_btn{
        margin: 15px 0;
        padding: 10px 40px;
    }
    /* === navbar === */
    /* === banner === */
    #banner{
        height: unset;
    }
    .banner_notice_text {
        font-size: 18px;
        padding: 5px;
    }
    .banner_arrows {
        left: 18px;
        font-size: 30px;
    }
    .banner_next_arrow {
        left: unset;
        right: 18px;
        top: 50%;
    }
    .banner_content_wrapper {
        padding-top: 80px;
    }
    .banner_heading_text{
        font-size: 28px;
        padding-bottom: 40px;
    }
    .banner_btn_wrapper {
        gap: 10px;
    }
    .banner_btn_wrapper a {
        font-size: 16px;
        padding: 8px 20px;
        }
    /* === banner === */
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
	/* === navbar === */
    
    .nav-link{
        margin: 5px 0;
    }
    .nav_btn{
        margin: 15px 0;
        padding: 10px 40px;
    }
    /* === navbar === */
    /* === banner === */
    #banner{
        height: unset;
    }
    /* === banner === */
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
	
}
/* ========================= device (xl 1200 > 1400) ========================= */
/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {

}
/* ========================= device (xxl 1400 >>) ========================= */
/* ======== responsive css ======== */


/* ===== design by AJOY SAHA ===== */