/* ======== responsive css ======== */
/* ========================= device (xs 0 > 576) ========================= */
@media (max-width: 575.98px) {
  /* === navbar === */
  .brand_logo {
    width: 50px;
    height: 40px;
  }
  .nav-link {
    margin: 5px 0;
  }
  .nav_btn {
    margin: 15px 0;
    padding: 10px 40px;
  }
  /* === navbar === */
  /* === notice === */
  .billing_notice {
    top: 0;
  }
  .billing_notice_text {
    font-size: 18px;
  }
  /* === notice === */
  /* === banner === */
  #banner {
    height: unset;
  }
  .banner_arrows {
    left: 10px;
    font-size: 25px;
  }
  .banner_next_arrow {
    left: unset;
    right: 10px;
    top: 50%;
  }
  .banner_content_wrapper {
    padding-top: 60px;
  }
  .banner_heading_text {
    font-size: 22px;
    padding-bottom: 30px;
  }
  .banner_btn_wrapper {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 50px;
  }
  .banner_btn_wrapper a {
    font-size: 14px;
    padding: 8px 20px;
  }
  /* === banner === */
  /* === counter === */
  .counterWrapperMain::after {
    width: 200px;
    height: 1px;
    top: unset;
    right: unset;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .counterWrapperMain:nth-child(4)::after {
    display: none;
  }
  /* === counter === */
  /* === package === */
  .common_section_heading::before {
    display: none;
  }
  .common_section_heading::after {
    right: unset;
    top: unset;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  .package_item_wrapper {
    max-width: 270px;
  }
  .package_name h3 {
    font-size: 30px;
  }
  #package .slick-slide {
    padding-bottom: 25px;
  }
  /* === package === */
}
/* ========================= device (xs 0 > 576) ========================= */

/* ========================= device (sm 576 > 768) ========================= */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* === navbar === */
  .brand_logo {
    width: 60px;
    height: 50px;
  }
  .nav-link {
    margin: 5px 0;
  }
  .nav_btn {
    margin: 15px 0;
    padding: 10px 40px;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    height: unset;
  }
  .banner_slider_wrapper {
    height: 400px;
  }
  .banner_notice_text {
    font-size: 18px;
    padding: 5px;
  }
  .banner_arrows {
    left: 18px;
    font-size: 30px;
  }
  .banner_next_arrow {
    left: unset;
    right: 18px;
    top: 50%;
  }
  .banner_content_wrapper {
    padding-top: 120px;
  }
  .banner_heading_text {
    font-size: 28px;
    padding-bottom: 40px;
  }
  .banner_btn_wrapper {
    gap: 10px;
  }
  .banner_btn_wrapper a {
    font-size: 16px;
    padding: 8px 20px;
  }
  /* === banner === */
  /* === counter === */
  .counterWrapperMain:nth-child(1)::before {
    display: block;
  }
  .counterWrapperMain:nth-child(2)::before {
    display: block;
  }
  .counterWrapperMain:nth-child(2)::after {
    display: none;
  }
  /* === counter === */
  /* === package === */
  .package_item_wrapper {
    width: 250px;
  }
  #package .slick-slide {
    padding-bottom: 25px;
  }
  .package_arrows {
    left: 10%;
  }
  .package_next_arrow {
    left: unset;
    right: 10%;
  }
  /* === package === */
  .common_section_heading::before {
    display: none;
  }
  .common_section_heading::after {
    right: unset;
    top: unset;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
  }
  .package_name h3 {
    font-size: 28px;
  }
  /* === package === */
}
/* ========================= device (sm 576 > 768) ========================= */

/* ========================= device (md 768 > 992) ========================= */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* === navbar === */

  .nav-link {
    margin: 5px 0;
  }
  .nav_btn {
    margin: 15px 0;
    padding: 10px 40px;
  }
  /* === navbar === */
  /* === banner === */
  #banner {
    height: unset;
  }
  /* === banner === */
  /* === counter === */
  .counterWrapperMain:nth-child(1)::before {
    display: block;
  }
  .counterWrapperMain:nth-child(2)::before {
    display: block;
  }
  .counterWrapperMain:nth-child(2)::after {
    display: none;
  }
  /* === counter === */
  /* === package === */
  .common_section_heading::after {
    right: 3%;
  }
  .common_section_heading::before {
    left: 6%;
  }
  .common_section_heading::after {
    right: 3%;
  }
  /* === package === */
  .package_arrows {
    left: 20%;
  }
  .package_next_arrow {
    left: unset;
    right: 20%;
  }
  /* === package === */
  /* === package === */
}
/* ========================= device (md 768 > 992) ========================= */

/* ========================= device (lg 992 > 1200) ========================= */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* === banner === */
  /* === banner === */
  #banner {
    height: unset;
  }
  .banner_slider_wrapper {
    height: 500px;
  }
  /* === banner === */
  /* === banner === */
  /* === package === */
  .common_section_heading::after {
    right: 13%;
  }
  .common_section_heading::before {
    left: 16%;
  }
  .package_item_wrapper{
    width: 300px;
  }
  .package_arrows {
    left: 20%;
  }
  .package_next_arrow {
    left: unset;
    right: 20%;
  }

  /* === package === */
}
/* ========================= device (lg 992 > 1200) ========================= */

/* ========================= device (xl 1200 > 1400) ========================= */
@media (min-width: 1200px) and (max-width: 1400px) {
  /* === banner === */
  /* === banner === */
  #banner {
    height: unset;
  }
  .banner_slider_wrapper {
    height: 700px;
  }
  /* === banner === */
  /* === banner === */
}
/* ========================= device (xl 1200 > 1400) ========================= */
/* ========================= device (xxl 1400 >>) ========================= */
@media (min-width: 1400px) {
}
/* ========================= device (xxl 1400 >>) ========================= */
/* ======== responsive css ======== */

/* ===== design by AJOY SAHA ===== */
